@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 14px;
  background: #fff;
  font-family: "Baloo Bhaijaan 2", cursive;
  font-family: "Noto Sans KR", sans-serif;
  color: #201b2a;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
body {
  margin: 0;
  width: 320px;
  height: 500px;
  padding: 0 8px 0 8px;
  box-sizing: border-box;
}
